@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
body {
  background-color: #222628;
}
.red-triangle {
  color: #ff7700;
}
.red-triangle::before {
  content: "";
  position: relative;
  width: 0px;
  height: 0px;
  border: 8px solid rgb(255, 119, 0);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 12px;
  right: 10px;
}

.green-triangle {
  color: greenyellow;
}
.green-triangle::before {
  content: "";
  position: relative;
  width: 0px;
  height: 0px;
  border: 8px solid rgb(60, 232, 60);
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  bottom: 33%;
  right: 10px;
}
.no-triangle {
}
.no-triangle::before {
  content: "";
  position: relative;
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  bottom: 33%;
  right: 10px;
}

.minus-icon {
  position: relative;
  color: transparent;
}
.minus-icon::before {
  content: "Deleted";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
  border-radius: 70px;
  /* background-color: white; */
  top: 12px;
  font-weight: bolder;
  padding-bottom: 3px;
  color: black;
  border: 1px solid #e18c8c;
  font-size: 11px;
  margin: auto;
  color: #e18c8c;
}

.plus-icon {
  position: relative;
  color: transparent;
}
.plus-icon::before {
  content: "Updated";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
  border-radius: 70px;
  /* background-color: white; */
  top: 12px;
  font-weight: bolder;
  padding-bottom: 3px;
  border: 1px solid #a5c3ba;
  font-size: 11px;
  margin: auto;
  color: #a5c3ba;
}
.no-icon {
  position: relative;
  color: transparent;
}
.no-icon::before {
  content: "";
  position: relative;
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  bottom: 33%;
  right: 10px;
}
.deleted-row {
  /* background-color: rgb(255, 119, 0, 0.2); */
  background-color: #ff770018;
}
.updated-row {
  /* background-color: rgba(0, 255, 72, 0.2); */
  background-color: rgb(0 255 72 / 6%);
}
.unchanged-row {
  background-color: #181d1f;
}
